.item{
  &-first{
    padding: 96px;
    &__block{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 96px;
      &-box{
        &-imgInfo{
          display: flex;
          column-gap: 8px;
          position: absolute;
          top: 24px;
          left: 24px;
          &-text{
            padding: 8px 6px;
            border-radius: 4px;
            background-color: $white;
            text-transform: uppercase;
            @include text($pop, normal, 700, 12px, 0, #23262F);
            &:last-child{
              background-color: #9757D7;
              color: $white;
            }
          }
        }
        &-imgCont{
          position: relative;
        }
        &-likes{
          display: flex;
          column-gap: 24px;
          position: absolute;
          bottom: 25px;
          left: 50%;
          transform: translateX(-50%);
          padding: 8px;
          border-radius: 100px;
          background-color: #23262F;
        }
        &-like{
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 2px solid #353945;
          transition: 0.3s;
          cursor: pointer;
          &:hover{
            transition: 0.3s;
            background-color: #353945;
          }
          &-btn{
            background-color: #23262F;
          }
        }
        &-img{
          border-radius: 20px;
        }
        &-title{
          @include text($DM, normal, 700, 40px, 0, $white);
        }
        &-text{
          display: flex;
          column-gap: 8px;
        }
        &-eth{
          padding: 2px 8px 1px;
          border-radius: 4px;
          border: 2px solid #45B36B;
          @include text($DM, normal, 700, 16px, 0, #45B26B);
        }
        &-price{
          padding: 2px 8px 1px;
          border-radius: 4px;
          border: 2px solid $gray;
          @include text($DM, normal, 700, 16px, 0, $gray);
        }
        &-stock{
          @include text($DM, normal, 700, 16px, 0, $gray);
          margin-top: 4px;
        }
        &-desc{
          @include text($pop, normal, 400, 16px, 24px, $gray);
          margin: 40px 0;
        }
        &-link{
          @include text($pop, normal, 500, 16px, 24px, $white);
        }
        &-btns{
          border: 2px solid #353945;
          border-radius: 36px;
          display: flex;
          column-gap: 8px;
          padding: 3px;
          margin-bottom: 16px;
        }
        &-btn{
          border-radius: 100px;
          padding: 6px 12px;
          border: 2px solid $black;
          background-color: $black;
          @include text($DM, normal, 700, 14px, 0, $gray);
          transition: 0.2s;
          &:hover{
            transition: 0.2s;
            background-color: #E6E8EC;
            border: 2px solid #E6E8EC;
            color: #23262F;
          }
        }
        &-user{
          display: flex;
          column-gap: 16px;
          align-items: center;
          padding: 17px 0 16px;
          border-bottom: 1px solid #353945;
          &-img{
            border-radius: 50%;
            background-color: #9757D7;
            &-second{
              background-color: #45B26B;
            }
          }
          &-owner{
            @include text($pop, normal, 400, 14px, 0, $gray);
          }
          &-name{
            @include text($pop, normal, 500, 14px, 0, $white);
          }
        }
        &-cont{
          padding: 24px;
          display: flex;
          flex-wrap: wrap;
          row-gap: 32px;
          margin-top: 68px;
          border-radius: 16px;
          border: 2px solid #353945;
          background-color: #23262F;
          &-ava{
            border-radius: 50%;
            background-color: #45B26B;
          }
          &-box{
            display: flex;
            column-gap: 16px;
            align-items: center;
          }
          &-info{
            display: flex;
            flex-wrap: wrap;
          }
          &-by{
            @include text($pop, normal, 500, 16px, 0, $gray);
          }
          &-name{
            @include text($pop, normal, 500, 16px, 0, $white);
          }
          &-eth{
            @include text($pop, normal, 600, 24px, 0, $white);
          }
          &-price{
            @include text($pop, normal, 600, 24px, 0, $gray);
          }
          &-descs{
            display: flex;
            column-gap: 8px;
            &:last-child{
              column-gap: 12px;
            }
          }
          &-btn{
            border: 2px solid #3772FF;
            padding: 16px 28px;
            border-radius: 90px;
            background-color: #3772FF;
            @include text($DM, normal, 700, 16px, 0, $white);
            transition: 0.3s;
            &:hover{
              transition: 0.3s;
              background-color: #004dff;
              border: 2px solid #004dff;
            }
            &:last-child{
              background-color: #23262F;
              border: 2px solid #353945;
              transition: 0.3s;
              &:hover{
                transition: 0.3s;
                background-color: #3772FF;
                border: 2px solid #3772FF;
              }
            }
          }
          &-prices{
            display: flex;
            column-gap: 12px;
          }
          &-fee{
            @include text($pop, normal, 500, 14px, 0, $gray);
          }
          &-percent{
            @include text($pop, normal, 500, 14px, 0, $white);
          }
          &-value{
            @include text($pop, normal, 400, 14px, 0, $gray);
          }
        }
      }
    }
  }
}