.questions {
  &__home {
    padding: 80px 0 148px;

    &-text {
      @include text($pop, normal, 700, 12px, 0, $gray);
    }

    &-title {
      @include text($DM, normal, 700, 48px, 0, $white);
    }

    &-desc {
      @include text($pop, normal, 400, 16px, 0, #E6E8EC);
      margin: 20px 0 80px;

      &-link {
        color: #3772FF;
      }
    }

    &-block {
      display: flex;
      justify-content: space-between;
      padding-bottom: 136px;

      &-links {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 42px;
      }

      &-link {
        display: flex;
        align-items: center;
        @include text($DM, normal, 700, 14px, 0, $gray);
        column-gap: 16px;
        transition: 0.3s;

        &:hover {
          transition: 0.3s;
          color: $white;
        }

        &-active {
          color: $white;
        }

      }

      &-item {
        border-top: 1px solid #353945;
        padding: 32px 0;
        width: 735px;

        &-title {
          @include text($pop, normal, 500, 16px, 0, $white);
          cursor: pointer;
        }

        &-open > &-text {
          display: inline-block;
        }

        &-text {
          @include text($pop, normal, 400, 16px, 0, $gray);
          display: none;
          margin: 40px 0 24px;
        }

        &-btn {
          background-color: $black;
          color: #F4F5F6;
          padding: 12px 20px;
          border: 2px solid $gray;
          border-radius: 100px;
          transition: 0.1s;
          margin: 0;

          &:hover {
            transition: 0.1s;
            border: 2px solid #3772FF;
            background-color: #3772FF;
          }
        }

        &-box {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1001px) {
  .questions {
    &__home {
      &-block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        &-links {
          flex-direction: row;
        }
        &-list {
          width: 100%;
        }

        &-item {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 601px) {
  .questions {
    &__home {
      &-block {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        &-links {
          flex-direction: row;
        }
        &-list {
          width: 100%;
        }

        &-item {
          width: 100%;
          &-btn{
            padding: 8px;
          }
        }
      }
    }
  }
}
@media (max-width: 510px) {
  .questions__home-block-links{
    gap: 20px;
  }
  .questions__home-block-link{
    gap: 5px;
  }
}
@media (max-width: 401px) {
  .questions__home-block-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}